<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            <p>
                Lớp giáp bảo vệ 675-sb3KDZ là một lồng kim loại được lắp đặt thêm các tấm polyme giúp bảo vệ tháp pháo khỏi hỏa lực của súng máy cỡ lớn cũng như một số loại đạn chống tăng. Cùng với lưới tản nhiệt, lớp giáp này có thể làm giảm hiệu quả của súng phóng lựu chống tăng ở một mức độ nhất định. Ngoài ra, lớp bảo vệ này còn được thiết kế để có thể giúp xe bọc thép Nga tăng khả năng nổi khi lội nước.

                Đây là một lớp giáp bảo vệ bổ sung mới và cực kỳ hiếm của quân đội Nga. Theo thống kê, tính đến năm 2021, quân đội Nga mới chỉ mua một số lượng nhỏ khoảng 100 thiết bị bảo vệ 675-sb3KDZ để trang bị cho các xe tăng và xe chiến đấu bộ binh của nước này. Thêm vào đó, việc lắp đặt các bộ giáp bảo vệ bổ sung trên chỉ mới được công bố vào ngày 2/6.

                Kể từ khi chiến dịch quân sự đặc biệt của Nga tại Ukraine nổ ra, đây mới chỉ là lần thứ 2 quân đội Ukraine thu giữ được các xe bọc thép với lớp bảo vệ mới này của Nga.
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
